<a href="https://colab.research.google.com/github/Santoshi-zalte/ML/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/Mall_Customers.csv")
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

calculate mean

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

CustomerID                100.50
Age                        38.85
Annual Income (k$)         60.56
Spending Score (1-100)     50.20
dtype: float64

mean column wise

In [ ]:
df.loc[:,'CustomerID'].mean()

100.5

mean row wise

In [ ]:
df.mean(axis=1)[1:3]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

1    29.75
2    11.25
dtype: float64

median

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

CustomerID                100.5
Age                        36.0
Annual Income (k$)         61.5
Spending Score (1-100)     50.0
dtype: float64

In [ ]:
df.loc[:,'CustomerID'].median()

100.5

In [ ]:
df.median(axis=1)[0:3]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    17.0
1    18.0
2    11.0
dtype: float64

In [ ]:
df.mode()

     CustomerID   Genre   Age  Annual Income (k$)  Spending Score (1-100)
0             1  Female  32.0                54.0                    42.0
1             2     NaN   NaN                78.0                     NaN
2             3     NaN   NaN                 NaN                     NaN
3             4     NaN   NaN                 NaN                     NaN
4             5     NaN   NaN                 NaN                     NaN
..          ...     ...   ...                 ...                     ...
195         196     NaN   NaN                 NaN                     NaN
196         197     NaN   NaN                 NaN                     NaN
197         198     NaN   NaN                 NaN                     NaN
198         199     NaN   NaN                 NaN                     NaN
199         200     NaN   NaN                 NaN                     NaN

[200 rows x 5 columns]

In [ ]:
df.loc[:,'CustomerID'].mode()

0        1
1        2
2        3
3        4
4        5
      ...
195    196
196    197
197    198
198    199
199    200
Length: 200, dtype: int64

In [ ]:
df.mode(axis=1)[1:3]

/usr/local/lib/python3.7/dist-packages/pandas/core/algorithms.py:969: UserWarning: Unable to sort modes: '<' not supported between instances of 'str' and 'int'
  warn(f"Unable to sort modes: {err}")

   0       1     2     3     4
1  2    Male  21.0  15.0  81.0
2  3  Female  20.0  16.0   6.0

to find min

In [ ]:
df.min()

CustomerID                     1
Genre                     Female
Age                           18
Annual Income (k$)            15
Spending Score (1-100)         1
dtype: object

In [ ]:
df.loc[:,'Age'].min(skipna=False)

18

In [ ]:
df.std()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

CustomerID                57.879185
Age                       13.969007
Annual Income (k$)        26.264721
Spending Score (1-100)    25.823522
dtype: float64

In [ ]:
df.std(axis=1)[1:3]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

1    35.074920
2     8.057088
dtype: float64

In [ ]:
df.loc[:,'CustomerID'].std()

57.879184513951124

In [ ]:
df.groupby(['Genre'])['Age'].mean()

Genre
Female    38.098214
Male      39.806818
Name: Age, dtype: float64

In [ ]:
df_u=df.rename(columns={'Annual Income (k$)':'Income'},inplace=False)
(df_u.groupby(['Genre']).Income.mean())

Genre
Female    59.250000
Male      62.227273
Name: Income, dtype: float64

In [ ]:
from sklearn import preprocessing

In [ ]:
enc=preprocessing.OneHotEncoder()
enc_df=pd.DataFrame(enc.fit_transform(df[['Genre']]).toarray())
enc_df

       0    1
0    0.0  1.0
1    0.0  1.0
2    1.0  0.0
3    1.0  0.0
4    1.0  0.0
..   ...  ...
195  1.0  0.0
196  1.0  0.0
197  0.0  1.0
198  0.0  1.0
199  0.0  1.0

[200 rows x 2 columns]

In [ ]:
df_encode=df_u.join(enc_df)
df_encode

     CustomerID   Genre  Age  Income  Spending Score (1-100)    0    1
0             1    Male   19      15                      39  0.0  1.0
1             2    Male   21      15                      81  0.0  1.0
2             3  Female   20      16                       6  1.0  0.0
3             4  Female   23      16                      77  1.0  0.0
4             5  Female   31      17                      40  1.0  0.0
..          ...     ...  ...     ...                     ...  ...  ...
195         196  Female   35     120                      79  1.0  0.0
196         197  Female   45     126                      28  1.0  0.0
197         198    Male   32     126                      74  0.0  1.0
198         199    Male   32     137                      18  0.0  1.0
199         200    Male   30     137                      83  0.0  1.0

[200 rows x 7 columns]

In [ ]:
import pandas as pd

In [ ]:
csv_url='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [ ]:
col_names = ['Sepal_Length','Sepal_Width','Petal_Length','Petal_Width','Species']

In [ ]:
iris = pd.read_csv(csv_url, names = col_names)

In [ ]:
irisSet=(iris['Species']=='Iris-Setosa')
print('Iris-Setosa')
print(iris[irisSet].describe())

Iris-Setosa
       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN

In [ ]:
irisSet=(iris['Species']=='Iris-vercicolor')
print('iris-versicolor')
print(iris[irisSet].describe())

iris-versicolor
       Sepal_Length  Sepal_Width  Petal_Length  Petal_Width
count           0.0          0.0           0.0          0.0
mean            NaN          NaN           NaN          NaN
std             NaN          NaN           NaN          NaN
min             NaN          NaN           NaN          NaN
25%             NaN          NaN           NaN          NaN
50%             NaN          NaN           NaN          NaN
75%             NaN          NaN           NaN          NaN
max             NaN          NaN           NaN          NaN